.text-to-share {font-family:  Georgia, Arial, Verdana; margin-top:20px;}
.text-to-share-content { width:95%; padding: 0px 10px 0px 10px; margin: 0px auto; line-height:40px; font-size: 28px;}
.text-to-share-open, .text-to-share-close {font-style: normal; font-weight: bold; font-size:42px; width: 35px; height: 50px; }
.text-to-share-buttons {padding: 13px 0 0 13px; margin-top:5px; }
.text-to-share-twitter, .text-to-share-facebook {display:block; float:left; height: 23px; margin-right: 10px; padding: 5px 15px; text-align: center; text-decoration:none; background-repeat:no-repeat; text-indent:32px; font-family:Arial,verdana; font-size:14px;}
.text-to-share-twitter {background-image:url('../img/twitter.png');}
.text-to-share-facebook {background-image:url('../img/facebook.png');}
.text-to-share-twitter:hover {color:#0084B4; text-decoration:underline;}
.text-to-share-facebook:hover {color:#3B5998; text-decoration:underline;}
.text-to-share-credits {clear:both; display:block; padding:5px 0 0 0px; color:#ccc; font-size:8px;}